{% extends 'base.html.twig' %}

{% block title %}Курсы{% endblock %}

{% block body %}
    <h1>Курсы</h1>

    <div class="container">
        <div class="row ">
            {% for course in courses %}
                <div class="col-6 mb-2 course-card">
                    <div class="fs-4"><a class="app_course_show" href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.name }} </a>
                    </div>
                    <div>{{ course.description }}</div>
                </div>
            {% else %}
                <div>
                    <div>Курсов не найдено</div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <div class="d-flex justify-content-center">
        <a class="btn btn-outline-primary " href="{{ path('app_course_new') }}">Добавить новый курс</a>
    </div>
    {% endif %}


    <style>
        .course-card {
            padding: 1px;

        }

        .course-card:hover {
            border: 2px solid cornflowerblue;
        }
    </style>
{% endblock %}
